李雨峰/week09/意图识别.yml
app:
  description: 意图识别 + RAG 问答工作流
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Intention RAG QA
  use_icon_as_answer_icon: false
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: edge-start-intent
      source: start
      sourceHandle: source
      target: intent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: edge-intent-router
      source: intent
      sourceHandle: source
      target: router
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: edge-router-other
      source: router
      sourceHandle: 'true'
      target: other-llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: edge-router-ml
      source: router
      sourceHandle: 'false'
      target: ml-kb
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: edge-router-llm
      source: router
      sourceHandle: 'false_2'
      target: llm-kb
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: template-transform
      id: edge-ml-transform
      source: ml-kb
      sourceHandle: source
      target: format
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: template-transform
      id: edge-llm-transform
      source: llm-kb
      sourceHandle: source
      target: format
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: edge-other-transform
      source: other-llm
      sourceHandle: source
      target: format
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: edge-format-end
      source: format
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 接收用户输入
        selected: false
        title: 开始
        type: start
        variables:
        - label: 用户输入
          max_length: 48
          options: []
          required: true
          type: paragraph
          variable: sys.query
      height: 90
      id: start
      position:
        x: 40
        y: 200
      positionAbsolute:
        x: 40
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 判断用户问题属于哪一类
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gpt-3.5-turbo
          provider: openai
        prompt_template:
        - id: intent-system
          role: system
          text: |
            你是一个意图识别助手。根据用户输入的问题，判断其属于以下三类中的哪一类：
            1. 机器学习相关：涉及机器学习算法、模型训练、特征工程、评估等。
            2. 大模型相关：涉及大语言模型、LLM、GPT、提示工程、微调等。
            3. 其他：与机器学习和大模型均无关。
            请只输出类别标签，从以下三个选项中选择一个：机器学习，大模型，其他。
        - id: intent-user
          role: user
          text: '{{#start.sys.query#}}'
        selected: false
        structured_output_enabled: false
        title: 意图识别
        type: llm
        variables: []
        vision:
          enabled: false
      height: 260
      id: intent
      position:
        x: 320
        y: 200
      positionAbsolute:
        x: 320
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 根据意图识别结果分流
        conditions:
        - id: cond-other
          logical_operator: and
          conditions:
          - comparison_operator: contains
            value: 其他
            variable_selector:
            - intent
            - text
        - id: cond-ml
          logical_operator: and
          conditions:
          - comparison_operator: contains
            value: 机器学习
            variable_selector:
            - intent
            - text
        - id: cond-llm
          logical_operator: and
          conditions:
          - comparison_operator: contains
            value: 大模型
            variable_selector:
            - intent
            - text
        selected: false
        title: 意图路由
        type: if-else
      height: 180
      id: router
      position:
        x: 600
        y: 200
      positionAbsolute:
        x: 600
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 直接调用LLM回答
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-3.5-turbo
          provider: openai
        prompt_template:
        - id: other-system
          role: system
          text: 你是智能助手，请直接回答用户的问题。
        - id: other-user
          role: user
          text: '{{#start.sys.query#}}'
        selected: false
        structured_output_enabled: false
        title: 普通问答
        type: llm
        variables: []
        vision:
          enabled: false
      height: 200
      id: other-llm
      position:
        x: 920
        y: 100
      positionAbsolute:
        x: 920
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 检索机器学习知识库
        knowledge_id: your-ml-knowledge-base-id
        query_variable_selector:
        - start
        - sys.query
        retrieval_config:
          score_threshold: 0.5
          top_k: 3
        title: 机器学习知识库检索
        type: knowledge-retrieval
      height: 150
      id: ml-kb
      position:
        x: 920
        y: 300
      positionAbsolute:
        x: 920
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 检索大模型知识库
        knowledge_id: your-llm-knowledge-base-id
        query_variable_selector:
        - start
        - sys.query
        retrieval_config:
          score_threshold: 0.5
          top_k: 3
        title: 大模型知识库检索
        type: knowledge-retrieval
      height: 150
      id: llm-kb
      position:
        x: 920
        y: 500
      positionAbsolute:
        x: 920
        y: 500
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 格式化最终输出
        selected: false
        template: |
          {% if intent.text contains "机器学习" %}
          {{ ml-kb.output }}
          {% elsif intent.text contains "大模型" %}
          {{ llm-kb.output }}
          {% else %}
          {{ other-llm.text }}
          {% endif %}
        title: 格式化输出
        type: template-transform
        variables:
        - value_selector:
          - intent
          - text
          variable: intent_text
        - value_selector:
          - other-llm
          - text
          variable: other_answer
        - value_selector:
          - ml-kb
          - output
          variable: ml_answer
        - value_selector:
          - llm-kb
          - output
          variable: llm_answer
      height: 150
      id: format
      position:
        x: 1240
        y: 300
      positionAbsolute:
        x: 1240
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 输出最终结果
        outputs:
        - value_selector:
          - format
          - output
          variable: result
        selected: false
        title: 结束
        type: end
      height: 88
      id: end
      position:
        x: 1520
        y: 300
      positionAbsolute:
        x: 1520
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 1