颜祎名/week09/week09_第1题_应用-体脂健康建议.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 应用-体脂健康建议
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.34@a3a90f3034b884bb215b8770af24ecd6145cfd5b6ab97f9e40c3143cbe3ccd34
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1750247789086-source-1750247864708-target
      source: '1750247789086'
      sourceHandle: source
      target: '1750247864708'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1750247864708-source-1750248183676-target
      selected: false
      source: '1750247864708'
      sourceHandle: source
      target: '1750248183676'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1750248183676-source-1750248311782-target
      selected: false
      source: '1750248183676'
      sourceHandle: source
      target: '1750248311782'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1750248311782-source-1750248397090-target
      selected: false
      source: '1750248311782'
      sourceHandle: source
      target: '1750248397090'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 性别
          max_length: 48
          options:
          - 男
          - 女
          required: true
          type: select
          variable: sex
        - label: 身高（cm）
          max_length: 48
          options: []
          required: true
          type: number
          variable: height
        - label: 体重（kg）
          max_length: 48
          options: []
          required: true
          type: number
          variable: weight
        - default: ''
          hint: ''
          label: 年龄
          options: []
          placeholder: ''
          required: true
          type: number
          variable: age
      height: 187
      id: '1750247789086'
      position:
        x: 50.965586610762784
        y: 238.5049077948051
      positionAbsolute:
        x: 50.965586610762784
        y: 238.5049077948051
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "# 原代码：def main(sex: str, height: int, weight: int) -> dict:\n# 修改后：增加\
          \ age 参数\ndef main(sex: str, height: int, weight: int, age: int) -> dict:\n\
          \    # 既然引入了年龄，我们可以用更科学的 BMI 法修正公式（可选）\n    # 这里暂时维持原逻辑，只需确保参数被接收即可\n  \
          \  if sex.lower() == '男':\n        body_fat_percentage = 1.2 * (weight /\
          \ (height / 100) ** 2) + 0.23 * age - 16.2\n    elif sex.lower() == '女':\n\
          \        body_fat_percentage = 1.2 * (weight / (height / 100) ** 2) + 0.23\
          \ * age - 5.4\n    \n    # 边界处理\n    body_fat_percentage = max(0, min(100,\
          \ body_fat_percentage))\n    \n    return {\"body_fat_percentage\": round(body_fat_percentage,\
          \ 2)}"
        code_language: python3
        desc: ''
        outputs:
          body_fat_percentage:
            children: null
            type: number
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1750247789086'
          - sex
          variable: sex
        - value_selector:
          - '1750247789086'
          - height
          variable: height
        - value_selector:
          - '1750247789086'
          - weight
          variable: weight
        - value_selector:
          - '1750247789086'
          - age
          value_type: number
          variable: age
      height: 52
      id: '1750247864708'
      position:
        x: 119.37959695587244
        y: 442.91994626078304
      positionAbsolute:
        x: 119.37959695587244
        y: 442.91994626078304
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: qwen2.5-72b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - id: f3024c0a-017c-4519-96d8-a53a4e2a62c5
          role: system
          text: 你是营养专家，请结合用户的性别、年龄以及体脂比状态，给出针对性的、有效的健康和运动建议。
        - edition_type: basic
          id: f78173fa-6b4e-4f0b-9728-b39614a2d899
          role: user
          text: '性别：{{#1750247789086.sex#}}

            身高：{{#1750247789086.height#}}

            体重：{{#1750247789086.weight#}}

            年龄：{{#1750247789086.age#}}

            体脂比：{{#1750247864708.body_fat_percentage#}}'
        selected: false
        structured_output_enabled: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1750248183676'
      position:
        x: 218
        y: 520.1696554776656
      positionAbsolute:
        x: 218
        y: 520.1696554776656
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        selected: false
        template: '## 用户基本信息


          - 性别 {{ sex }}

          - 身高 {{ height }}

          - 体重 {{ weight }}

          - 年龄 {{ age }}

          ## 体脂比


          {{ body_fat_percentage }}


          ## 健康建议


          {{ text }}'
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1750247789086'
          - height
          variable: height
        - value_selector:
          - '1750247789086'
          - weight
          variable: weight
        - value_selector:
          - '1750247864708'
          - body_fat_percentage
          variable: body_fat_percentage
        - value_selector:
          - '1750248183676'
          - text
          variable: text
        - value_selector:
          - '1750247789086'
          - sex
          variable: sex
        - value_selector:
          - '1750247789086'
          - age
          value_type: number
          variable: age
      height: 52
      id: '1750248311782'
      position:
        x: 361.62340886861296
        y: 352.1309477828468
      positionAbsolute:
        x: 361.62340886861296
        y: 352.1309477828468
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1750248311782'
          - output
          variable: output
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1750248397090'
      position:
        x: 507
        y: 431
      positionAbsolute:
        x: 507
        y: 431
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -57.899815392267215
      y: -227.8858391889596
      zoom: 1.139781404167966
  rag_pipeline_variables: []
