冯少波/week09/意图识别+RAG问答工作流.yml
app:
  description: 意图识别 + RAG知识库问答系统：自动识别用户问题意图，分别路由到通用LLM回答或对应知识库检索回答
  icon: 🎯
  icon_background: '#E0F2FE'
  icon_type: emoji
  mode: advanced-chat
  name: 意图识别+RAG问答工作流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.34@a3a90f3034b884bb215b8770af24ecd6145cfd5b6ab97f9e40c3143cbe3ccd34
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: "\U0001F44B 欢迎使用意图识别+RAG问答系统！\n\n我可以回答以下类型的问题：\n• \U0001F916\
      \ **机器学习相关问题** - 将检索机器学习知识库\n• \U0001F9E0 **大模型相关问题** - 将检索大模型知识库  \n• \U0001F4AC\
      \ **其他通用问题** - 将直接由AI回答\n\n请直接输入您的问题，我会自动识别意图并给出最佳回答。\n"
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 什么是监督学习？
    - Transformer架构的原理是什么？
    - 今天天气怎么样？
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: start-source-intent_llm-target
      source: start
      sourceHandle: source
      target: intent_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: question-classifier
      id: intent_llm-source-intent_classifier-target
      source: intent_llm
      sourceHandle: source
      target: intent_classifier
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: llm
      id: intent_classifier-source-general_llm-target
      source: intent_classifier
      sourceHandle: intent_1
      target: general_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: intent_classifier-source-ml_retrieval-target
      source: intent_classifier
      sourceHandle: intent_2
      target: ml_retrieval
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: intent_classifier-source-llm_retrieval-target
      source: intent_classifier
      sourceHandle: intent_3
      target: llm_retrieval
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: ml_retrieval-source-ml_answer-target
      source: ml_retrieval
      sourceHandle: source
      target: ml_answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: llm_retrieval-source-llm_answer-target
      source: llm_retrieval
      sourceHandle: source
      target: llm_answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: general_llm-source-final_answer-target
      source: general_llm
      sourceHandle: source
      target: final_answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: ml_answer-source-final_answer-target
      source: ml_answer
      sourceHandle: source
      target: final_answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: llm_answer-source-final_answer-target
      source: llm_answer
      sourceHandle: source
      target: final_answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 73
      id: start
      position:
        x: 390.66210501007924
        y: 32.36175390792741
      positionAbsolute:
        x: 390.66210501007924
        y: 32.36175390792741
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 分析用户问题，识别其意图类别
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: intent_system_prompt
          role: system
          text: '你是一个意图识别专家。请分析用户的问题，判断其属于以下哪一类意图：


            【意图1: 通用问题】

            - 与机器学习、大模型无关的日常问题

            - 问候、闲聊、天气、时间等通用话题

            - 其他技术领域的问题（如前端开发、数据库等）

            - 示例："今天天气怎么样"、"你好"、"推荐一本书"


            【意图2: 机器学习问题】

            - 监督学习、无监督学习、强化学习相关问题

            - 算法原理（如决策树、SVM、神经网络等）

            - 模型训练、评估、优化相关问题

            - 特征工程、数据预处理相关问题

            - 示例："什么是随机森林"、"如何处理过拟合"、"解释梯度下降"


            【意图3: 大模型问题】

            - Transformer架构、注意力机制相关问题

            - GPT、BERT等大模型原理和应用

            - 提示工程、RAG、Agent技术相关问题

            - 模型微调、量化、部署相关问题

            - 示例："Transformer的工作原理"、"什么是RAG"、"如何进行提示工程"


            请只输出意图编号（1、2或3），不要输出任何解释。

            '
        - id: intent_user_prompt
          role: user
          text: 用户问题：{{#sys.query#}}
        selected: false
        title: 意图识别
        type: llm
        variables: []
        vision:
          enabled: false
      height: 116
      id: intent_llm
      position:
        x: 400
        y: 150
      positionAbsolute:
        x: 400
        y: 150
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: intent_1
          name: 意图1-通用问题
        - id: intent_2
          name: 意图2-机器学习
        - id: intent_3
          name: 意图3-大模型
        desc: 根据意图识别结果，将问题路由到不同处理分支
        instruction: '根据意图识别结果，将问题分类到对应分支：

          - 输出"1" -> 意图1-通用问题

          - 输出"2" -> 意图2-机器学习

          - 输出"3" -> 意图3-大模型

          '
        instructions: ''
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        query_variable_selector:
        - intent_llm
        - text
        selected: true
        title: 意图分类器
        type: question-classifier
        vision:
          enabled: false
      height: 252
      id: intent_classifier
      position:
        x: 400
        y: 300
      positionAbsolute:
        x: 400
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 直接调用LLM回答通用问题
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5-7b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: general_system_prompt
          role: system
          text: 你是一个 helpful 的AI助手，请直接回答用户的问题。
        - id: general_user_prompt
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: 通用回答
        type: llm
        variables: []
        vision:
          enabled: false
      height: 116
      id: general_llm
      position:
        x: 91.49773136886324
        y: 500
      positionAbsolute:
        x: 91.49773136886324
        y: 500
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - Rg82u9r2ij0Y6hHyxRWBiw1s42oiw5v/C//meyqZx+/JZ/iuTjdYkEHvI1WoOu/l
        desc: 从机器学习知识库中检索相关内容
        multiple_retrieval_config:
          reranking_enable: false
          score_threshold: 0.5
          top_k: 5
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              temperature: 0.1
            mode: chat
            name: qwen2.5-7b-instruct
            provider: langgenius/tongyi/tongyi
          search_method: semantic
          top_k: 5
        title: ML知识库检索
        type: knowledge-retrieval
      height: 118
      id: ml_retrieval
      position:
        x: 412.14609804448116
        y: 661.5431039915982
      positionAbsolute:
        x: 412.14609804448116
        y: 661.5431039915982
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - HSftgd4atjzqW2LCEhQaufKo8L9h4xqxKIR/H6YBd88qwhm5f5b+WglhvH+RRCqO
        desc: 从大模型知识库中检索相关内容
        multiple_retrieval_config:
          reranking_enable: false
          score_threshold: 0.5
          top_k: 5
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              temperature: 0.1
            mode: chat
            name: qwen2.5-7b-instruct
            provider: langgenius/tongyi/tongyi
          search_method: semantic
          top_k: 5
        title: LLM知识库检索
        type: knowledge-retrieval
      height: 118
      id: llm_retrieval
      position:
        x: 700
        y: 500
      positionAbsolute:
        x: 700
        y: 500
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - ml_retrieval
          - result
        desc: 基于检索结果生成机器学习领域回答
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: qwen2.5-7b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: ml_system_prompt
          role: system
          text: '你是机器学习领域的专家。请基于提供的知识库内容，回答用户的机器学习相关问题。


            回答要求：

            1. 优先使用知识库中的信息

            2. 如果知识库信息不足，可以补充你的专业知识

            3. 回答要准确、专业、易懂

            4. 适当举例说明

            '
        - id: ml_user_prompt
          role: user
          text: '用户问题：{{#sys.query#}}


            知识库检索结果：{{#ml_retrieval.result#}}

            '
        selected: false
        title: ML回答生成
        type: llm
        variables: []
        vision:
          enabled: false
      height: 116
      id: ml_answer
      position:
        x: 424.2921960889622
        y: 858.9128863650744
      positionAbsolute:
        x: 424.2921960889622
        y: 858.9128863650744
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - llm_retrieval
          - result
        desc: 基于检索结果生成大模型领域回答
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: qwen2.5-7b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: llm_system_prompt
          role: system
          text: '你是大模型和AI技术领域的专家。请基于提供的知识库内容，回答用户的大模型相关问题。


            回答要求：

            1. 优先使用知识库中的信息

            2. 如果知识库信息不足，可以补充你的专业知识

            3. 回答要准确、专业、易懂

            4. 适当举例说明

            '
        - id: llm_user_prompt
          role: user
          text: '用户问题：{{#sys.query#}}


            知识库检索结果：{{#llm_retrieval.result#}}

            '
        selected: false
        title: LLM回答生成
        type: llm
        variables: []
        vision:
          enabled: false
      height: 116
      id: llm_answer
      position:
        x: 700
        y: 650
      positionAbsolute:
        x: 700
        y: 650
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#general_llm.text#}}{{#ml_answer.text#}}{{#llm_answer.text#}}

          '
        desc: 输出最终回答给用户
        selected: false
        title: 最终回答
        type: answer
        variables: []
      height: 168
      id: final_answer
      position:
        x: 431.5798549156507
        y: 1097.780400107414
      positionAbsolute:
        x: 431.5798549156507
        y: 1097.780400107414
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -7.698478952704477
      y: -210.36832419066542
      zoom: 0.85648463340297
  rag_pipeline_variables: []
