韩笑/week09/体脂建议.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 体脂建议
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.34@a3a90f3034b884bb215b8770af24ecd6145cfd5b6ab97f9e40c3143cbe3ccd34
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1775118273818-source-1775118278584-target
      source: '1775118273818'
      sourceHandle: source
      target: '1775118278584'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1775118278584-source-1775119095195-target
      source: '1775118278584'
      sourceHandle: source
      target: '1775119095195'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1775119095195-source-1775119169677-target
      source: '1775119095195'
      sourceHandle: source
      target: '1775119169677'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 年龄
          max_length: 1
          options: []
          placeholder: ''
          required: true
          type: number
          variable: age
        - hint: ''
          label: 性别
          options:
          - 男
          - 女
          placeholder: ''
          required: true
          type: select
          variable: gender
        - default: ''
          hint: ''
          label: 身高
          options: []
          placeholder: ''
          required: true
          type: number
          variable: height
        - default: ''
          hint: ''
          label: 体重
          options: []
          placeholder: ''
          required: true
          type: number
          variable: weight
      height: 186
      id: '1775118273818'
      position:
        x: -65.19999999999993
        y: 57.60000000000002
      positionAbsolute:
        x: -65.19999999999993
        y: 57.60000000000002
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\ndef main(age, gender, height, weight) -> float:\n    # 1. 计算 BMI\n\
          \    height_m = height / 100.0\n    bmi = weight / (height_m ** 2)\n   \
          \  # 2. 确定性别系数\n    # 男性 = 1, 女性 = 0\n    gender_factor = 1 if gender ==\
          \ '男' else 0\n     # 3. 套用公式计算体脂率\n    # 公式: (1.20 × BMI) + (0.23 × 年龄)\
          \ - (10.8 × 性别系数) - 5.4\n    body_fat = (1.20 * bmi) + (0.23 * age) - (10.8\
          \ * gender_factor) - 5.4\n    \n    return {\"result\": body_fat}\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: number
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1775118273818'
          - age
          value_type: number
          variable: age
        - value_selector:
          - '1775118273818'
          - gender
          value_type: string
          variable: gender
        - value_selector:
          - '1775118273818'
          - height
          value_type: number
          variable: height
        - value_selector:
          - '1775118273818'
          - weight
          value_type: number
          variable: weight
      height: 51
      id: '1775118278584'
      position:
        x: 227.20000000000016
        y: 78.60000000000002
      positionAbsolute:
        x: 227.20000000000016
        y: 78.60000000000002
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1775118278584'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: cdf32e51-3e5c-46fe-9076-9b9f31636535
          role: system
          text: 你是一个健康管理专家根据计算出的体脂比{{#1775118278584.result#}}},提供合理的建议
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1775119095195'
      position:
        x: 273.79999999999995
        y: 255.60000000000002
      positionAbsolute:
        x: 273.79999999999995
        y: 255.60000000000002
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1775119095195'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1775119169677'
      position:
        x: 300.0000000000001
        y: 429.59999999999997
      positionAbsolute:
        x: 300.0000000000001
        y: 429.59999999999997
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 160.5833333333332
      y: 91.25
      zoom: 0.8333333333333334
  rag_pipeline_variables: []
