韩笑/week09/作业2.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 作业2
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.34@a3a90f3034b884bb215b8770af24ecd6145cfd5b6ab97f9e40c3143cbe3ccd34
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1775120215890-1-1775120280900-target
      selected: false
      source: '1775120215890'
      sourceHandle: '1'
      target: '1775120280900'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1775120215890-2-1775120289518-target
      selected: false
      source: '1775120215890'
      sourceHandle: '2'
      target: '1775120289518'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1775120206692-source-1775120215890-target
      source: '1775120206692'
      sourceHandle: source
      target: '1775120215890'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1775120280900-source-1775120414540-target
      source: '1775120280900'
      sourceHandle: source
      target: '1775120414540'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1775120414540--1775120441133-target
      source: '1775120414540'
      sourceHandle: source
      target: '1775120441133'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1775120289518-source-1775120441133-target
      source: '1775120289518'
      sourceHandle: source
      target: '1775120441133'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 用户提问
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: question
      height: 108
      id: '1775120206692'
      position:
        x: 115
        y: 282
      positionAbsolute:
        x: 115
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 包含机器学习/深度学习
        - id: '2'
          name: 不包含机器学习/深度学习
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        query_variable_selector:
        - sys
        - user_id
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 169
      id: '1775120215890'
      position:
        x: 514
        y: 228
      positionAbsolute:
        x: 514
        y: 228
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - GwjsEHwgLtip6Xyg/ncwL+7tsHF5R/QEacGBdK6LRgTTaYwV47LwC2eV1BIampP5
        - yqja7HhBB/s/EXE1rvGaV3oB/0imwSJnBa9ZsJeDW3OWxIMwXdnLdH8+iodS9p5d
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1775120206692'
        - question
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 117
      id: '1775120280900'
      position:
        x: 874
        y: 175
      positionAbsolute:
        x: 874
        y: 175
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1775120206692'
          - question
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 68c8bbbf-7c73-4cae-8455-f8a0da20c482
          role: system
          text: 根据用户提问输出结果
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1775120289518'
      position:
        x: 1029.579752629348
        y: 410.23705365686254
      positionAbsolute:
        x: 1029.579752629348
        y: 410.23705365686254
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1775120280900'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 4faf73bf-3913-4b07-bcfc-42c5341408d1
          role: system
          text: 根据知识检索结果进行回答问题
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1775120414540'
      position:
        x: 1175
        y: 175
      positionAbsolute:
        x: 1175
        y: 175
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1775120414540'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1775120441133'
      position:
        x: 1472.2550083532951
        y: 387.216193313274
      positionAbsolute:
        x: 1472.2550083532951
        y: 387.216193313274
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -188.96159622190123
      y: 124.42491132144005
      zoom: 0.716977624007914
  rag_pipeline_variables: []
